@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(45, 55, 72);
  color: rgb(247, 250, 252);
}

.library-album-image,
.library-album-image-overlay {
  grid-area: 1 / 1;
}
